{% extends "auctions/layout.html" %}

{% block body %}
<br>
    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

  
    <div class="jumbotron text-center">
      
        <h2 class="card-title h2">ACTIVE LISTINGS</h2>
      
        <br>
       
        <div class="row d-flex justify-content-center">
           
            <div class="col-xl-7 pb-2">
                {% if empty %}
                    <div>No Listing Found</div>
                {% else %}
                    {% for product in products %}
                        <br>
                      
                        <div>
                           
                            <div class="view view-cascade overlay " >
                                <img class="image" src="{{product.image_link}}" alt="Card image cap" style="height: 200px;">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                          
                            <div class="text-center" style="padding: 3% 10%;">
                          
                                <h4 class="title"><strong>{{product.title}}</strong></h4>
                              
                                <h6 class="font-weight-bold indigo-text py-2">{{product.category}}</h6>
                        
                                <p class="">{{product.description}} <br> </p>
                           
                                <p class="font-weight-bold">{{product.starting_bid}}$ <br> </p>
                       
                                <a href="{% url 'viewlisting' product.id %}" class="btn btn-primary">View</a>
                            </div>
                            <!-- Card footer -->
                            <div class="text-muted text-center">
                                {{product.created_at}}
                            </div>
                        </div>
                  
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
 
{% endblock %}
