{% extends "auctions/layout.html" %}

{% block body %}
    <br>
    <!-- Jumbotron -->
    <div class="text-center mx-2 mb-5">

        <!-- Title -->
        <h2 class="card-title h2">CATEGORIES</h2>
        <div class="row d-flex justify-content-center">
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
                <ul class="list-group">
                    <a href="{% url 'category' 'Beats By Dre' %}"><li class="group-item"><i class=" mr-5"></i> Beats By Dre</li></a>
                    <a href="{% url 'category' 'Yeezy Shoes' %}"><li class="group-item"><i class="mr-5"></i> Yeezy Shoes</li></a>
                    <a href="{% url 'category' 'Louis Vuitton' %}"><li class="group-item"><i class="mr-5"></i>Louis Vuitton</li></a>
                    <a href="{% url 'category' 'Luxury Watch' %}"><li class="group-item"><i class="mr-5"></i>Luxury Watch</li></a>
                    <a href="{% url 'category' 'Books' %}"><li class="group-item"><i class="mr-5"></i> Books</li></a>
                </ul>
            </div>

        </div>

    </div>
{% endblock %}